# Generate with https://hostingcanada.org/htpasswd-generator/
# Used for Traefik
HTPASSWD=chris:{SHA}AThemvtnfYZfFZUvpu/v4jRKoU0=
DOMAIN=jeebs.co
CF_API_EMAIL=chris.furby@gmail.com
CF_DNS_API_TOKEN=u7tfMJIQT1XpUFHih-YWDpB3kl_JfR9k192KLUYv
CF_ZONE_API_TOKEN=7VO-4wPvdL-W6oELfVep-fdv_2v9miHaaseELFP0

TZ=America/Los_Angeles

# Specific to my NAS
PGID=101
PUID=1026

# Folder used for storing config data for containers
CONFIG=/volume1/docker
# Folder for incoming downloads
DOWNLOAD=/volume1/Media/Incoming

# Testing escaped spaces in paths
TVSHOWS=/volume1/Media/TV\ Shows
MOVIES=/volume1/Media/Movies
4KMOVIES=/volume1/Media/4K\ Movies
MUSIC=/volume1/Media/Music
BOOKS=/volume1/Media/Books/Calibre
TORRENTS=/volume1/Media/Torrents
