{
email   chris.furby@gmail.com
}

{
#    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

whoami.{$DOMAIN} {
    reverse_proxy whoami:80
}

web.{$DOMAIN} {
    reverse_proxy nginx:80
}
